*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  overflow-x: hidden !important;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}